{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- To hide the background image -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center my-4">
            <h2>Welcome to the Poster Bay Blog</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-3 left">
                {% for post in post_list %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" }}</p>
                        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Sidebar Widgets Column from Building a Blog App with Django tutorial -->
            <div class="col-md-4 float-right ">
                <div class="card my-4">
                        <h5 class="card-header">About Us</h5>
                    <div class="card-body">
                        <p class="card-text"> This awesome blog is made on the top of our Favourite full stack Framework 'Django', follow up the tutorial to learn how we made it..!</p>
                        <a href="https://djangocentral.com/building-a-blog-application-with-django"
                        class="btn btn-danger">Know more!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}