{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- To hide the background image -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center my-4">
            <h2>What's Trending on Poster Bay?</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-3 left">
                {% for post in post_list %}
                <div class="card mb-4">
                    <!-- Blog Post Image Goes Here -->
                    <figure class="figure">
                        {% if post.image_url %}
                            <img src="{{ post.image_url }}" class="figure-img img-fluid rounded card-img-top"
                                alt="{{ post.title }}">
                        {% else %}
                            <img class="figure-img img-fluid rounded" src="{{ MEDIA_URL }}noimage.jpg"
                                alt="{{ post.title }}">
                        {% endif %}
                    </figure>
                    <!-- Blog Post Title & Blurb Go Here -->
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" }}</p>
                        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-black">Read More &rarr;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Sidebar Widgets Column from Building a Blog App with Django tutorial -->
            <div class="col-md-4 float-right ">
                <div class="card my-4">
                        <h5 class="card-header" id="blog_post_header">Hey There, Welcome!</h5>
                    <div class="card-body">
                        <p class="card-text">Every month we ask our fabulous guest authors to post new blog posts about all things new & old in the art world. Sometimes we'll go back into time & reveal excerpts from the lives of one of our featured artists,
                            while other times catching you up on what's hot & trending. You can find it all here! <br> <br>So make sure to come back next month to see what's new & in store for you!!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}