{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- To hide the background image -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-8 card mb-4  mt-4 mx-1">
            <!-- Blog Post Image Goes Here -->
            <figure class="figure  text-center">
                {% if post.image_url %}
                    <img src="{{ post.image_url }}" class="figure-img img-fluid rounded"
                        alt="{{ post.title }}">
                {% else %}
                    <img class="figure-img img-fluid rounded" src="{{ MEDIA_URL }}noimage.jpg"
                        alt="{{ post.title }}">
                {% endif %}
            </figure>
            <div class="card-body">
                <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                <p class="card-text ">{{ object.content | safe }}</p>
            </div>
        </div>
        <!-- Sidebar Widgets Column from Building a Blog App with Django tutorial -->
        <div class="col-md-3 float-right">
            <div class="card my-4">
                    <h5 class="card-header" id="blog_post_header">Hey There, Welcome!</h5>
                <div class="card-body">
                    <p class="card-text">Every month we ask our fabulous guest authors to post new blog posts about all things new & old in the art world. Sometimes we'll go back into time & reveal excerpts from the lives of one of our featured artists,
                        while other times catching you up on what's hot & trending. You can find it all here! <br> <br>So make sure to come back next month to see what's new & in store for you!!
                    </p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}