{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- To hide the background image -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center my-4">
            <h2>Products</h2>
        </div>
    </div>
    <!-- All Product Cards -->
    <div class="row">
        <div class="col-10 product-container offset-1">
            <div class="row mt-5 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    <div class="card h-100 mx-2">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}"> <img class="card-img-top img-fluid"
                                src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body text-center">
                            <!-- Product Name -->
                            <h5 class="card-title">{{ product.name }}</h5>
                            <!-- Artist -->
                            <p class="card-text">Artist: {{ product.artist }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <p class="lead mb-2 font-weight-bold">€{{ product.price }}</p>
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-see-more">
                                <span>Add to Cart</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}