<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-2" href="{% url 'home' %}" id="home-link" aria-haspopup="true" 
                aria-expanded="false">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-2" href="{% url 'products' %}" id="shop-all-link" 
                aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link" href="{% url 'blog' %}" id="blog-link" aria-haspopup="true" 
                aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div>