<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-all-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-all-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="artist-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Artist
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="artist-link">
                <a href="{% url 'products' %}?categories=andy" class="dropdown-item">Andy Warhol</a>
                <a href="" class="dropdown-item">Roy Lichtenstein</a>
                <a href="" class="dropdown-item">David Hockney</a>
                <a href="" class="dropdown-item">Takashi Murakami</a>
                <a href="" class="dropdown-item">Banksy</a>
                <a href="" class="dropdown-item">Liu Wei</a>
                <a href="" class="dropdown-item">Basquiat</a>
                <a href="" class="dropdown-item">Yayoi Kasuma</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="design-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Design
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="design-link">
                <a href="{% url 'products' %}?category=pop_art" class="dropdown-item">Pop Art</a>
                <a href="{% url 'products' %}?category=abstract_art" class="dropdown-item">Abstract Art</a>
                <a href="{% url 'products' %}?category=graffiti_art" class="dropdown-item">Graffiti Art</a>
                <a href="{% url 'products' %}?category=contemporary_art" class="dropdown-item">Contemporary Art</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="inspirations-link" aria-haspopup="true" aria-expanded="false">
                Inspirations
            </a>
        </li>
    </ul>
</div>