<br><br>
<footer class="container-fluid text-center footer-wrapper">
    <div class="row no-gutters">
        <div class="col-sm-4 mx-auto">
            <h5 class="general-sub">Email Us</h5>
            <p class="in-line-block footer-body">
                Our customer support team is here to help!
                <br />
                Email us at: <a class="footer-links"
                    href="mailto:contact@posterbay.com">contact@posterbay.com</a>
            </p>
        </div>
        <div class="col-sm-4 mx-auto">
            <h5 class="general-sub">About Us</h5>
            <p class="in-line-block footer-body">
                Poster Bay was founded by 1 artsy gal looking to provide other art-loving folks with affordable, high
                quality prints from some of the world's iconic artists. Each print has been carefully curated
                & printed on 170gsm Silk paper to be long-lasting. 
            </p>
        </div>
        <div class="col-sm-4 mx-auto">
            <h5 class="general-sub">Follow Us</h5>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/FoodFusionPK" target="_blank">
                        <i class="fab fa-facebook-f footer-icons" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/pakistani.cuisine/" target="_blank">
                        <i class="fab fa-instagram footer-icons" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row no-gutters text-center">
        <div class="col-12">
            <p class="copyright text-muted">Copyright &copy; Poster Bay <span id="copyright"></span></p>
        </div>
    </div>
</footer>