{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- To hide the background image -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <!-- Product Image Section -->
        <div class="col-12 col-md-6 col-lg-6 col-offset-lg-2">
            <div class="card mx-auto d-block mt-5" style="width: 18rem;">
                {% if product.image %}
                <img class="img-fluid" src="{{ product.image.url }}" target="_blank" alt="{{ product.name }}">
                {% else %}
                <img class="img-fluid" src="{{ MEDIA_URL }}noimage.jpg" target="_blank" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
        <!-- Product Details Section -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="product-details-container mb-5 mt-md-5 mt-5">
                <h3 class="mb-1">{{ product.name }}</h3>
                <p class="mb-0">Artist: {{ product.artist }}</p>
                <p class="lead mb-0 text-left"><strong>€{{ product.price }}, Stars: {{ product.get_rating|floatformat:1 }}</strong></p>
                <p class="mt-3 mb-0">{{ product.description }}</p>
                <p class="mt-3 mb-0"><small>{{ product.side_note }}</small></p>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3">Quantity</p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black" 
                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" value="1" 
                                        min="1" max="99" name="quantity" data-item_id="{{ product.id }}" 
                                        id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black" data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                            <small class="ml-3 text-center">
                                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                        {% endif %}
                        <!-- Button back to shop -->
                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-black mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Keep Shopping </span>
                            </a>
                            <!-- Button add to cart -->
                            <input type="submit" class="btn btn-black mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>

        <!-- Product Reviews from YT tutorial -->
        <hr>
        <div>
            <h2 class="mx-4">Customer Reviews</h2>
            <div class="reviews-wrapper mx-4 my-2">
                {% for review in product.reviews.all %}
                    <div class="notification">
                        <p>
                            <strong>Date: </strong>{{ review.date_added|date:"d-m-Y"}}<br>
                            <strong>Stars: </strong>{{ review.stars}}<br>
                            <strong>{{ request.user }}</strong><br>
                        </p>
                        {{ review.content }}<br><br>
                    </div>
                <!-- If no reviews have been added show message -->    
                {% empty %}
                    <div class="notification">
                        No reviews yet!
                    </div>
                {% endfor %}
            </div>
            <br><br>
            <!-- If user is signed in, allow them to add a review --> 
            <div class="notification">
                {% if request.user.is_authenticated %}
                    <form method="POST" action=".">
                        {% csrf_token %}

                        <div class="field">
                            <label>Stars</label>

                            <div class="control">
                                <div class="select">
                                    <select name="stars">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3" selected>3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Your Review</label>

                            <div class="control">
                                <textarea class="textarea" name="content"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-success">Submit Review</button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <p class="mx-4">Please sign it to add your review!</p>
                {% endif %}
            </div>
            <br><br>
        </div>
        
    </div>

</div>

{% endblock %}

{% block postloadjs%}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}